server {
    listen 80;

    location / {
        proxy_pass http://{{ gw_address }}:{{ gw_port }};
    }
}

{% for cluster in indices.keys() %}

server {
    listen {{ indices[cluster]['publish_port'] }};

    location / {
        proxy_pass http://{{ groups['swarm_manager'][0] }}:{{ indices[cluster]['current_port'] }};
    }
}

{% endfor %}
